<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Upload Captured Dump Files And Get Them Analyzed ">
    <meta name="keywords" content="Packetenizer, Packet Dump, Captured Dump, Dump Analysis, Packet Analysis, Protocol Details, Conection Details ">
    <meta name="author" content="Kunal Joshi, Jainam Joshi, Brijesh Ghonia">
    <link rel="shortcut icon" href="/static/images/Packekenizer.ico" type="image/x-icon">
    <title>Packetenizer - Home</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
        <div class="container">
            <a class="navbar-brand" href="#"> <span class="font-weight-bold">Packetenizer</span></a> <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"></button>
        </div>
    </nav>
    <header class="text-center text-white masthead" style="background:url('/static/images/Packetinizer_bg_4.jpg')no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h3 class="mb-5">Uplod Your Captured File And Get It Analyzed</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                </div>
            </div>
        </div>
    </header>
    <section class="text-center bg-light features-icons">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="icon-screen-desktop m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                        <h3>Platform Independent</h3>
                        <p class="lead mb-0"> Packetenizer will look the same irrespective of the device and platform </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="icon-layers m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                        <h3>Analysis</h3>
                        <p class="lead mb-0">Each and every packet will be analyzed to the deepest of layers tp ensure best possble results</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="icon-check m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                        <h3>Ensured Privacy</h3>
                        <p class="lead mb-0">The file uploaded is not stored at our server to ensure total privacy</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h3>{{ message }}</h3>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-md-12">
                <form method="POST" action="/file" enctype="multipart/form-data">
                    <div class="form-group files color">
                        <label> </label>
                        <input type="file" class="form-control" name="dump-file" id="dump-file">
                    </div>
                    <div class="col-md-12 "><button class="btn btn-primary btn-block btn-lg" type="submit">Upload</button></div>
                    <label> </label>
                </form>
            </div>

        </div>
    </div>

    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row ">
                <div class="col-lg-6 text-white order-lg-2 showcase-img" style="background-image:url(&quot;/static/images/Demonstration_1.png&quot;);"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2>Statistical Overview</h2>
                    <p class="lead mt-2">Homepage of Packetenizer has an analytical overview to convey important bits of information at a glance </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-6 text-white showcase-img" style="background-image:url(&quot;/static/images/Demonstration_2.png&quot;);"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2>Detailed Analysis</h2>
                    <p class="lead mb-0">The uploaded dump file is analyzed at packet level to uncover the hidden information. This information is used to produce analytical graphs for better understanding </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-6 text-white order-lg-2 showcase-img" style="background-image:url(&quot;/static/images/Demonstration_3.png&quot;);"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2>Seperate View For every major Protocol</h2>
                    <p class="lead mb-0">Packetenizer provides a seperate view for every major protocol where summarized information for each protocol is available </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-6 text-white showcase-img" style="background-image:url(&quot;/static/images/Demonstration_4.png&quot;);"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2>Detail to the lowest level</h2>
                    <p class="lead mb-0">Packetenizer also provides detail for each and every packet transmitted or received </p>
                </div>
            </div>
        </div>
        <label></label>
    </section>

    <footer class="bg-light sticky footer">
        <div class="container">

            <div class="container my-auto">
                {% if session_present %}
                    <!-- <div class="text-center my-auto"><button id="goto-dash" class="btn btn-primary " type="submit">Goto Dashboard</button></div> -->
                    <!-- #TODO: Center the button (fuck you css) -->
                    <a class="text-center my-auto btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/dashboard">Goto Dashboard</a>
                {% endif %}
                <label></label>
                <div class="text-center my-auto copyright"><span>Copyright © Packetenizer 2021</span></div>
            </div>
        </div>
    </footer>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bs-init.js"></script>
</body>

</html>