<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="keywords" content="Packetenizer, Packet Dump, Captured Dump, Dump Analysis, Packet Analysis, Protocol Details, Conection Details ">
    <meta name="author" content="Kunal Joshi, Jainam Joshi, Brijesh Ghonia">
    <meta name="title" content="Packetenizer, analyze and uncover information from your network dump files">
    <meta name="description" content="This is the dashboard page to uncover the analyzed information from file {% block filename %}{% endblock %}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Packetenizer, analyze and uncover information from your network dump files">
    <meta property="og:url" content="https://packetenizer.herokuapp.com">
    <!-- Add appropriate URL -->
    <meta property="og:description" content="This is the dashboard page to uncover the analyzed information from file {{self.filename()}}">
    <meta property="og:image" content="https://packetenizer.herokuapp.com/static/images/Packetinizer_bg_3.jpg">
    <!-- Add appropriate URL -->

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Packetenizer, analyze and uncover information from your network dump files">
    <meta property="twitter:url" content="https://packetenizer.herokuapp.com">
    <!-- Add appropriate URL -->
    <meta property="twitter:description" content="This is the dashboard page to uncover the analyzed information from file {{self.filename()}}">
    <meta property="twitter:image" content="https://packetenizer.herokuapp.com/static/images/Packetinizer_bg_3.jpg">
    <!-- Add appropriate URL -->

    <link rel="shortcut icon" href="/static/images/Packetenizer.ico" type="image/x-icon">
    <title>{% block title %} {% endblock %} - Dashboard</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/fontawesome5-overrides.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <div class="sidebar-brand-icon">
                    <image src="/static/images/Packetenizer_1.png" height="100px" width="100px"></image>
                </div>
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-text mx-3"><span>Packetenizer</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li id="nav-item-1" class="nav-item"><a class="nav-link" href="/dashboard/home"><i class="fas fa-home"></i><span>Homepage</span></a></li>
                    <li id="nav-item-2" class="nav-item"><a class="nav-link" href="/dashboard/analysis"><i class="fas fa-chart-line"></i><span>Analysis</span></a></li>
                    <li id="nav-item-3" class="nav-item"><a class="nav-link" href="/dashboard/tcp"><i class="fas fa-tachometer-alt"></i><span>TCP Details</span></a></li>
                    <li id="nav-item-4" class="nav-item"><a class="nav-link" href="/dashboard/udp"><i class="fas fa-tachometer-alt"></i><span>UDP Details</span></a></li>
                    <li id="nav-item-5" class="nav-item"><a class="nav-link" href="/dashboard/icmp"><i class="fas fa-tachometer-alt"></i><span>ICMP Details</span></a></li>
                    <li id="nav-item-6" class="nav-item"><a class="nav-link" href="/dashboard/dns"><i class="fas fa-tachometer-alt"></i><span>DNS Details</span></a></li>
                    <li id="nav-item-7" class="nav-item"><a class="nav-link" href="/dashboard/table"><i class="fas fa-table"></i><span>Connection Details</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"><i class="fas fa-exchange-alt fa-sm text-white-50"></i></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <!-- Custom blocks go here -->
            {% block content %} {% endblock %}
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <!-- !TODO: Give bottom padding to button (fuck you css) -->
                    <div class="text-center my-auto">
                        <button id="copy-button" class="btn btn-primary">Copy link!</button>
                        <a class="text-center my-auto btn btn-primary " role="button" href="/">Goto Homepage</a>
                    </div>
                    <div class="text-center my-auto copyright"><span>Copyright © Packetenizer 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/chart.min.js"></script>
    <script src="/static/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/static/js/theme.js"></script>
    <script type="text/javascript">
        const navItem = document.getElementById("nav-item-{{nav_item}}");
        navItem.classList.add("active")

        const copyButton = document.getElementById("copy-button");
        copyButton.addEventListener('click', (e) => {
            navigator.clipboard.writeText(window.location.origin + "/share/{{session_id}}")
                .then(() => {
                    console.log("copied");
                })
                .catch(() => {
                    console.log("copy failed");
                })
        })
    </script>
</body>

</html>