{% extends "dashboard/dashboard.html" %}
{% block title %}
Connection Details
{% endblock %}
{% block content %}
   <div id="content">
        <div class="container-fluid">
            <h3 class="text-dark mb-4">Connection Details</h3>
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Connection Details Table</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table my-0" id="dataTable">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Source Address</th>
                                    <th>Destination Address</th>
                                    <th>DOS Attack Identified</th>
                                    <th>NMAP Scan Identified</th>
                                    <th>Connections</th>
                                    <th>Unintended Connections</th>
                                    <th>Average Reception Time</th>
                                    <th>Average Transmission Time</th>
                                    <th>Data Uploaded</th>
                                    <th>Data Downloaded</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>TCP</td>
                                    <td>192.168.0.104</td>
                                    <td>52.216.164.19</td>
                                    <td>No</td>
                                    <td>No</td>
                                    <td>75</td>
                                    <td>5</td>
                                    <td>563.884ms</td>
                                    <td>880.33ms</td>
                                    <td>1769 B</td>
                                    <td>10620999 B</td>
                                </tr>
                                <tr>
                                    <td>TCP</td>
                                    <td>192.168.0.104</td>
                                    <td>52.216.164.19</td>
                                    <td>No</td>
                                    <td>No</td>
                                    <td>75</td>
                                    <td>5</td>
                                    <td>563.884ms</td>
                                    <td>880.33ms</td>
                                    <td>1769 B</td>
                                    <td>10620999 B</td>
                                </tr>
                                <tr>
                                    <td>UDP</td>
                                    <td>192.168.0.25 </td>
                                    <td>52.114.4.49</td>
                                    <td>No</td>
                                    <td>No</td>
                                    <td>100</td>
                                    <td>15</td>
                                    <td>987.233ms</td>
                                    <td>195.935ms</td>
                                    <td>1095052 B</td>
                                    <td>423408 B</td>
                                </tr>
                                <tr>
                                    <td>UDP</td>
                                    <td>192.168.0.25 </td>
                                    <td>52.114.4.49</td>
                                    <td>No</td>
                                    <td>No</td>
                                    <td>100</td>
                                    <td>15</td>
                                    <td>987.233ms</td>
                                    <td>195.935ms</td>
                                    <td>1095052 B</td>
                                    <td>423408 B</td>
                                </tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}