{% extends "dashboard/dashboard.html" %}
{% block title %}
UDP Details
{% endblock %}
{% block content %}
    <div id="content">
        <div class="container-fluid">
            <div class="d-sm-flex justify-content-between align-items-center mb-4">
                <h3 class="text-dark mb-0">UDP Details</h3>
            </div>
            <!-- Your loop starts here -->
            <div class="row">
                <div class="col-md-6 col-xl-5.5 mb-4">
                    <div class="card shadow border-left-success py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col mr-2">
                                    <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Client Info</span></div>
                                    <div class="text-dark h5 mb-0"><span>Source Address :</span> <span class="font-weight-bold">192.168.0.25 </span></div>
                                    <div class="text-dark h5 mb-0"><span>Source Port :</span><span class="font-weight-bold"> 56991 </span></div>
                                    <div class="text-dark h5 mb-0">
                                        <span> Download : </span><span class="font-weight-bold">423408 B</span>
                                    </div>
                                    <div class="text-dark h5 mb-0">
                                        <span>Upload :</span> <span class="font-weight-bold"> 1095052 B</span>
                                    </div>
                                    <div class="text-dark h5 mb-0"><span>Start Time :</span> <span class="font-weight-bold"> 2021-03-28 14:58:45.935266 </span></div>
                                    <div class="rows">
                                        <div class="text-dark h5 mb-0"><span>Average Reception Time : </span> <span class="font-weight-bold">987.233ms</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-5.5 mb-4">
                    <div class="card shadow border-left-warning py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col mr-2">
                                    <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Server Info</span></div>
                                    <div class="text-dark h5 mb-0"><span>Destination Address : </span> <span class="font-weight-bold">52.114.4.49</span></div>
                                    <div class="text-dark h5 mb-0"><span>Destination Port : </span> <span class="font-weight-bold">3478 </span> </div>
                                    <div class="text-dark h5 mb-0"><span>Average Transmission Time : </span> <span class="font-weight-bold"> 195.935ms</span> </div>
                                    <div class="text-dark h5 mb-0"><span>Protocol : </span> <span class="font-weight-bold"> STUN</span> </div>
                                    <div class="text-dark h5 mb-0"><span>Unintended : </span> <span class="font-weight-bold"> False</span> </div>
                                    <div class="text-dark h5 mb-0"><span>IP Versiom : </span> <span class="font-weight-bold"> IPv4</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}